Value Interface (\S+\d)
Value Status (\S+)
Value MAC (\S{4}-\S{4}-\S{4})
Value PortName (\S+\d)
Value Device (\S+)

Start
  ^\s*Interface: ${Interface}
  ^\s*Status: ${Status},
  ^\s*MAC Address\s+:\s+${MAC}
  ^\s*Port Name\s+:\s+${PortName}
  ^\s*Device Name\s+:\s+${Device} -> Record